/* clock.css */

body {
   font-family: "Helvetica";
   /* background-color: #0071ce; */
   color: white;
}

h1 {
   font-size: 4em;
}

.container {
   text-align: center;
   margin: 20px auto;
}

#current_time {
   font-size: 5em;
}

#forecastLabel {
   font-size: 2em;
   margin-bottom: 50px;
}

#geolocation {
   display: none;
}

/* Weather colors */

body.cold {
   background-color: #95A5A6;
}

body.chilly {
   background-color: #1ABC9C;
}

body.nice {
   background-color: #2980B9;
}

body.warm {
   background-color: #E67E22;
}

body.hot {
   background-color: #E74C3C;
}
